/* CSS for React-Router to animate transitions */
.fade-enter {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.descriptionShort {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

/* CSS to run the Alexandria Stack */
.alexandria-nav {
	list-style: none;
	width: 100%; 
	padding-right: 20px; 
	padding-left: 25px;	
	margin: 0px auto; 
	text-align: center; 
	display: block;
}

.artifact-list-card {
	max-height: 250px; 
	width: auto; 
	object-fit: cover;
}

.wallet-top-card {
	max-height: 250px; 
	object-fit: contain;
}

.tint-a-bit {
	background-color:rgba(0,0,0,0.7);
}

.btn-bits-bg:hover, .btn-bits-bg:active {
	color: rgba(92,184,92,1);
	background-color: rgba(92,184,92,0.2);
}

.btn-info-light-bg:hover, .btn-danger-light-bg:active {
	color: #e4f7fd;
	background-color: rgba(91,192,222,0.4);
}

.btn-warning-light-bg:hover, .btn-danger-light-bg:active {
	color: #f9e9d3;
	background-color: rgba(240,173,78,0.4);
}

.btn-danger-light-bg:hover, .btn-danger-light-bg:active {
	color: #fddbda;
	background-color: rgba(217,83,79,0.4);
}

.content-card-img {
	height: 0px; 
	width: 100%;
	padding-bottom: 56.25%;
	position: relative;
	object-fit: cover;
	background-color: #fff;
	overflow: hidden;
}

.content-card-img > div {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
}

.content-card-xinfo {
	text-align: right; 
	margin-top: -25px;
	color:#fff;
	padding-right:5px;
	margin-bottom:-5px;
	background-color:rgba(0,0,0,0.3);
}

.content-card-xinfo-offset {
	margin-bottom:-7px;
}

.content-page {
	overflow: hidden;
}

.content-container {
	margin-left: auto; 
	margin-right: auto; 
	display: flex; 
	position: relative;
	overflow: hidden;
	width: 200vw;
}

.content {
	background-color: #000; 
	flex: 1;
	margin-left: auto; 
	margin-right: auto; 
	display: table-cell; 
	position: static;
	width:100vw;
}

.content > div, .content > iframe {
	width: 100vw;
	height: inherit;
	max-height: inherit;
}

.paywall {
	flex: 1;
	display: table-cell;
	width: 100%;
}

.paywall-container {
	height: 100%;
	margin: 0px auto; 
	padding: 10px; 
	color: #fff;
	background-color:rgba(0,0,0,0.8);
	position: relative;
	margin-left: -200vw;
}
.img-container{
	width: auto;
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
}
.img-container > canvas {
  max-width: 100%;
  background: #fff;
}
.white-canvas {
	background: #fff;
}
.video-js .vjs-tech {
	max-height: inherit;
	height: 100%;
}
.markdownContainer {
	width: 60%;
}
body > canvas {
	display: none;
}
@media (max-width: 1100px) {
  .login-profile-btn {
    text-align: center;
    margin-top: 15px;
  }
}
@media (min-width: 1300px) { 
	.img-container{
		height: 100%;
	}
	.content-container {
		height: 73vh;
	}
	.content > div, .content > iframe, .content > div > iframe {
		max-height: 73vh;
	}
}
@media (max-width: 1300px) and (min-width: 900px) { 
	.img-container{
		height: auto;
		max-height: 70vh;
	}
	.img-container > canvas {
		height: auto;
		max-height: 70vh;
	}
	.content-container {
		height: auto;
    max-height: 70vh;
		min-height: 50vh;
	}
	.content > div {
    max-height: 70vh;
	}
  .content > iframe, .content > div > iframe {
    max-height: 70vh;
    min-height: 70vh;
  }
	.markdownContainer {
		width: 80%;
	}
}
@media (max-width: 900px) and (min-width: 550px) { 
	.img-container {
		height: auto;
		max-height: 60vh;
	}
	.img-container > canvas {
		height: auto;
		max-height: 60vh;
	}
	.content-container {
		height: auto;
    max-height: 60vh;
		min-height: 30vh;
	}
	.content > div {
		max-height: 60vh;
	}
  .content > iframe, .content > div > iframe {
    min-height: 60vh;
    max-height: 60vh;
  }
	.markdownContainer {
		width: 95%;
	}
}
@media (max-width: 550px) and (min-width: 200px) { 
	.img-container{
		height: auto;
		max-height: 50vh;
	}
	.img-container > canvas {
		height: auto;
		max-height: 50vh;
	}
	.content-container {
		height: auto;
	    max-height: 50vh;
		min-height: 22vh;
	}
	.content > div {
		max-height: 50vh;
	}
  .content > iframe, .content > div > iframe {
    min-height: 50vh;
    max-height: 50vh;
  }
	.markdownContainer {
		width: 95%;
	}
}

.table td, .table th {
	border-top: none;
}

.view-btn {
	float:right;
	margin-right:-10px;
	margin-bottom:-10px;
	margin-top:-16px;
}

.vjs-poster {
	background-size: 100%;
}

.blur {
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);
}

.btn-outline-secondary {
	border-color: #333 !important;
	color: #333 !important;;
}

.btn-outline-white {
	border-color: #fff;
	color: #fff;
	background-color: rgba(255,255,255,0);
}

.outline-white {
	border-color: #fff;
}

.btn-outline-white:hover, .btn-outline-white:active{
	background-color: rgba(255,255,255,0.2);
}

.btn-secondary.active {
	background-color: rgba(255,255,255,0.4);
}

.btn-white {
	color: #fff;
}

.no-link-styling {
	text-decoration: none;
	color: #292b2c;
	cursor: pointer; 
	cursor: hand;
	margin-bottom: 10px;
}

.no-link-styling:hover {
	color: #000;
}

.dropdown-item .narrow {
	padding-left: 5px;
	padding-right: 5px;
}

.fixed-bottom {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-top: -50px;
}

.app-block-footer {
	background-color: rgb(27, 28, 29);
	color: #444;
	color: rgba(116, 119, 123, .5);
}

.mp-icon {
	font-size: 2em;
	padding-left: 5px;
	padding-right: 5px;
}

.mini-audio-player {
	background-color: #ffffff;
	padding-top:3px;
	border-top: 1px #000;
}

.markdownContainer {
	background-color: #fff;
    padding: 50px;
    overflow: scroll;
}

.markdownContainer > div > p > img {
	max-width: 100%;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
		vertical-align: top;
    }
    
    .navbar .navbar-collapse {
        text-align: center;
    }

    .navbar-center {
	    float: left;
	    margin-left: 50%;
    }
}

h1 {
	border-bottom: none;
}

.dual-selector {
	display: flex; 
	padding: 0px 0px !important;
	width: 100%; 
	padding-top: 1px !important;
}

.custom-file-control::before {
    color: #5bc0de;
    background-color: #fff;
    border: 1px solid rgba(91, 192, 222, 1);
    border-radius: 0 .25rem .25rem 0;
}

.custom-file-control::before:hover{
    color: #fff;
    background-color: #5bc0de;
    border: 1px solid rgba(91, 192, 222, 1);
    border-radius: 0 .25rem .25rem 0;
}

.table-icon {
	width: 20px;
	height: 20px;
	color: #ccc;
	fill: currentColor;
}

.type-circle {
	margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #979797;
    background-color: #ffffff;
    height: 60px;
    width: 60px;
    background-size: 40px 40px;
    background-repeat: no-repeat;
    background-position: center;
    color: #979797;
	fill: currentColor;
}

.type-circle:hover {
	background-color: #ddd;
	border: 1px solid #999999;
}

.type-circle-active {
	background-color: rgba(83, 139, 212, 0.3);
}

.song-icon {
	background-image: url('../svg/beamed-note.svg');
}

.video-icon {
	background-image: url('../svg/video-camera.svg');
}

.image-icon {
	background-image: url('../svg/image.svg');
}

.text-icon {
	background-image: url('../svg/text-document.svg');
}

.software-icon {
	background-image: url('../svg/code.svg');
}

.web-icon {
	background-image: url('../svg/browser.svg');
}

.album-icon {
	background-image: url('../svg/album-icon.svg');
}

.book-icon {
	background-image: url('../svg/book-icon.svg');
}

.media-icon {
	background-image: url('../svg/media-icon.svg');
}

.movie-icon {
	background-image: url('../svg/movie-icon.svg');
}

.podcast-icon {
	background-image: url('../svg/podcast-icon.svg');
}

.recipe-icon {
	background-image: url('../svg/recipe-icon.svg');
}

.things-icon {
	background-image: url('../svg/things-icon.svg');
}

.nav-pills li a:active {
    background: rgba(83, 139, 212, 0.2);
    color: #8e8e90;
    transition: 0.1s all;
}

/* Form */
/*.form-control {
  box-shadow: none;
  border-color: #efefef; }

.form-control:focus {
  box-shadow: none;
  border-color: #538bd4; }*/

.form-inline p {
  display: inline; }

.form-inline p.margin {
  margin-left: 15px; }

@media screen and (min-width: 900px) {
  .form-inline .form-control.ipfs {
	min-width: 350px; } }

input.rating {
  max-width: 65px; }

form.important {
  background-color: rgba(239, 239, 239, 0.25);
  border-radius: 3px;
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px; }

form .form-last {
  margin-bottom: 0; }

#publishAuth form.important {
  margin-bottom: 25px; }

#publishAuth form.important .form-group {
  width: calc(100% - 125px); }

#publishAuth form.important .form-control {
  width: 100%; }

#publishAuth form.important .btn {
  min-width: 120px; }

#publishAuth form.important .form-inline {
  margin-bottom: 15px; }

#publishAuth form.important .form-inline:last-child {
  margin-bottom: 0; }

#publishAuth #createNewPublisherName {
  padding: 15px;
  border: 1px solid #efefef;
  border-radius: 4px;
  background: white; }

#publishAuth .btn-next {
  margin-top: 25px; }

/* Progress */
.progress-container {
  padding: 15px;
  border-radius: 6px;
  border: 1px solid rgba(83, 139, 212, 0.1);
  margin-bottom: 25px; }

.progress-container p {
  margin-bottom: 0; }

.progress-container .progress {
  margin-bottom: 0; }

.progress {
  margin-top: 7px;
  box-shadow: none;
  background-color: rgba(83, 139, 212, 0.1); }

/* Console */
.console-output {
  font-family: 'Source Code Pro', 'Consolas', monospace;
  background: #222; }

.console-helper {
  padding: 5px 15px;
  border-radius: 6px;
  border: 1px solid rgba(83, 139, 212, 0.1);
  margin-bottom: 25px; }

.console-helper a {
  margin-top: 4px; }

.console-helper object {
  margin-right: 10px; }

.console-marker {
  color: #65d080; }

/* svg */
a.svg {
  position: relative;
  display: inline-block; }

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

/* Well */
.well {
  box-shadow: none;
  border: none; }

/* Stats */
.stats .col {
  margin-bottom: 25px; }

.stats object {
  margin-right: 5px; }

.stats.libraryd .row {
  padding: 10px 0;
  border-bottom: 1px solid #efefef; }

.stats.libraryd .row:last-child {
  border-bottom: none; }

/* Toggle Switch */
.lbl {
  position: relative;
  display: block;
  height: 18px;
  width: 44px;
  background: #efefef;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease; }

.lbl:after {
  position: absolute;
  left: -2px;
  top: -2px;
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  background: #d6d6d6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  content: '';
  transition: all 0.3s ease; }

.toggle:checked ~ label {
  background: rgba(83, 139, 212, 0.25); }

.toggle:checked ~ label:after {
  left: 20px;
  background: #538bd4;
  box-shadow: 0 0 10px rgba(83, 139, 212, 0.5); }

.toggle:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none; }

.toggle:disabled ~ label:after {
  background: #bcbdbc; }

/* Label */
.label {
  padding: 5px 10px;
  font-weight: 400;
  font-size: 12px;
  margin-right: 15px; }

.label-default-flash {
  background: #efefef;
  color: #8e8e90;
  border-radius: 3px;
  margin-right: 15px;
  padding: 5px 10px;
  margin-top: -5px;
  font-size: 12px;
  animation: pulseBg 1s infinite; }

.label-default-flash p {
  margin: 0; }

@keyframes pulseBg {
  0% {
	background: #eaeaea; }
  50% {
	background: #f4f4f4; }
  100% {
	background: #eaeaea; } }

/* Pinned files */
@media screen and (min-width: 920px) {
  .form-pin-file {
	float: right; } }

.btn-pin-file {
  margin-left: 10px; }

.pinned-files {
  margin-top: 25px; }

td.unpin {
  text-align: center; }

/* Table */
/*.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 1px solid #DDD; }

.table > tbody > tr > td {
  border-top: 1px solid #efefef; }*/

/* Tabs */
.tab-pane {
  margin-top: 25px; }

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px; }

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px; }

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.25); }

::-webkit-scrollbar-corner {
  background-color: rgba(0, 0, 0, 0.1); }

/* Settings */
.settings-toggle {
  margin-bottom: 5px; }

.settings-toggle p {
  margin-left: 10px; }

.preferences {
  border-bottom: 1px solid red; }

.preferences:last-child {
  border-bottom: none; }

/* About */
.contributors p {
  color: #38383b; }

.contributors .svg.btn.btn-github {
  margin-right: 5px; }

.contributors .muted {
  margin-left: 5px; }

.well.license {
  color: #8e8e90;
  font-size: 12px;
  white-space: pre-wrap; }

/* Tabs */
.nav-pills li.active a {
  background-color: rgba(83, 139, 212, 0.3);
  color: #538bd4; }

.nav-pills li.active a:hover, .nav-pills li.active a:focus {
  background-color: rgba(83, 139, 212, 0.3);
  color: #538bd4;
  transition: 0.1s all; }

.nav-pills li a {
  border-radius: 3px;
  margin-right: 5px;
  padding: 6px 12px;
  border: 1px solid #efefef;
  color: #8e8e90;
  transition: 0.1s all; }

.nav-pills li a:hover, .nav-pills li a:focus {
  background: rgba(83, 139, 212, 0.2);
  color: #8e8e90;
  transition: 0.1s all; }

/* Publish */
.publish h5 {
  color: #38383b;
  margin-bottom: 15px;
  margin-top: 0px; }

.publish h5 object {
  margin-right: 5px; }

.publish .publish-section {
  margin-bottom: 25px; }

.publish .artifact-type {
  border: 1px solid #888;
  border-radius: 3px;
  margin: -15px;
  margin-bottom: 25px;
  margin-top: -50px;
  padding: 15px; }

.publish .artifact-type .btn {
  margin-right: 0px;
  padding: 6px 10px; }

.publish form .row .col-sm-6:first-child {
  padding-right: 7.5px; }

.publish form .row .col-sm-6:last-child {
  padding-left: 7.5px; }

.publish .information textarea {
  max-width: 100%;
  min-height: 75px; }

.publish .cover-art {
  width: 250px;
  height: 150px;
  display: table;
  border: 1px dashed rgba(0,0,0, .5);
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  transition: all 0.1s;
  background-size: 250px 150px;
  background-repeat: no-repeat;
  display: block;
}

.publish .cover-art:hover {
  padding: 10px;
  margin: 5px;
  border: 1px dashed rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.1s; 
  display: block;
}

.publish .cover-art.hover {
  padding: 10px;
  margin: 5px;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.025);
  transition: all 0.1s; 
  display: block;
}

.publish .cover-art p {
  text-align: center;
  vertical-align: middle;
  display: table-cell; 
}

.publish .cover-art-square {
  width: 250px;
  height: 250px;
  display: table;
  border: 1px dashed rgba(0,0,0, .5);
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  transition: all 0.1s;
  background-size: 250px 250px;
  background-repeat: no-repeat;
  display: block;
}

.publish .cover-art-square:hover {
  padding: 10px;
  margin: 5px;
  border: 1px dashed rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.1s; 
  display: block;
}

.publish .cover-art-square.hover {
  padding: 10px;
  margin: 5px;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.025);
  transition: all 0.1s; 
  display: block;
}

.publish .cover-art-square p {
  text-align: center;
  vertical-align: middle;
  display: table-cell; 
}

.publish .cover-art-poster {
  width: 175px;
  height: 250px;
  display: table;
  border: 1px dashed rgba(0,0,0, .5);
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 5px;
  transition: all 0.1s;
  background-size: 250px 250px;
  background-repeat: no-repeat;
  display: block;
}

.publish .cover-art-poster:hover {
  padding: 10px;
  margin: 5px;
  border: 1px dashed rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.1s; 
  display: block;
}

.publish .cover-art-poster.hover {
  padding: 10px;
  margin: 5px;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.025);
  transition: all 0.1s; 
  display: block;
}

.publish .cover-art-poster p {
  text-align: center;
  vertical-align: middle;
  display: table-cell; 
}

.publish label {
  font-weight: 300; }

.publish .publish-pricing {
  background-color: rgba(101, 208, 128, 0.05);
  padding: 15px;
  padding-bottom: 0;
  margin: 0 -15px;
  margin-bottom: 35px;
  border-radius: 6px; }

.publish .publish-pricing .input-group-addon {
  background: rgba(101, 208, 128, 0.5);
  border-color: rgba(101, 208, 128, 0);
  color: #36b256; }

.publish .publish-pricing .form-control {
  border-color: rgba(101, 208, 128, 0);
  background-color: rgba(101, 208, 128, 0.25);
  color: #36b256;
  max-width: 65px; }

.publish .publish-pricing .col-sm-7 {
  text-align: left; }

.publish .publish-pricing h5 {
  margin-bottom: 15px;
  margin-top: 25px; }

.publish .publish-pricing label {
  text-align: left; }

.publish .publish-pricing .li-money {
  position: absolute;
  right: -50px;
  margin-top: -15px; }

.publish .publish-pricing ::-webkit-input-placeholder {
  color: rgba(101, 208, 128, 0.5); }

.publish .publish-pricing ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(101, 208, 128, 0.5); }

.publish .publish-files {
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: rgba(239, 239, 239, 0.25);
  border-radius: 6px;
  padding: 15px;
  margin: 0 -15px; }

.publish .publish-files th {
  border-bottom: none;
  padding-left: 4px; }

.publish .publish-files td {
  padding: 4px;
  padding-top: 8px;
  border-top: none; }

.publish .publish-files td .form-control {
  margin-top: -2px;
  padding: 0px 12px;
  height: 30px; }

.publish .upload-area {
  border: 1px dashed rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  padding: 7px;
  transition: all 0.1s; }

.publish .upload-area:hover {
  padding: 10px;
  margin-top: -5px;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: -1px;
  border: 1px dashed rgba(0, 0, 0, 1);
  background-color: rgba(0, 0, 0, 0.05);
  transition: all 0.1s; 
}

.publish .upload-area.hover {
  padding: 10px;
  margin-top: -5px;
  margin-left: -5px;
  margin-right: -5px;
  margin-bottom: -1px;
  border: 1px dashed rgba(0, 0, 0, 0.1);
  background-color: rgba(0, 0, 0, 0.025);
  transition: all 0.1s; }

.publish .publish-submit {
  border: 1px solid #888;
  padding: 15px;
  margin: 0 -15px;
  border-radius: 6px; }

.publish .publish-submit p {
  margin-bottom: 0; }

.publish .publish-progress {
  display: none;
  position: fixed;
  top: 0;
  left: 1;
  margin-left: -30px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75); }

.publish .publish-progress p {
  color: #fff; }

.icon-pad-right {
 	padding-right: 6px;
 }

 .btn-margin-right {
 	margin-right: 5px;
 }
.canvas-goo {
  -webkit-filter: url("#goo");
  filter: url("#goo");
}

.material-icons {
  font-size: inherit; 
  vertical-align: inherit;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.colorgraph {
	height: 5px;
	border-top: 0;
	background: #c4e17f;
	border-radius: 5px;
	background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
	background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.btn-facebook {
    background-color: rgba(61, 91, 150, 0.2) !important;
    border-color: rgb(61, 91, 150);
    width: 51px;
    color:#FFFFFF!important;
}

.btn-twitter {
    background-color: rgba(51, 153, 204, 0.14) !important;
    border-color: rgb(51, 153, 204);
    width: 51px;
    color:#FFFFFF!important;
}

.btn-reddit {
    background-color: rgba(255, 58, 17, 0.2) !important;
    border-color: rgb(255, 58, 17);
    padding: 6.5px;
    width: 51px;
    color:#FFFFFF!important;
}

.btn-steem {
    width: 51px;
    background-color: rgba(0,184,234,0.1);
    border-color: #395da0;
}

.btn-gab {
    background-color: #ECF5F1 !important;
    border-color: #85C4A6;
    width: 51px;
    color:#FFFFFF!important;
}

.popover {
	max-width: 360px !important;
}

.scrollbar {

}

.scrollbar::-webkit-scrollbar {
    width: 6px;
    background-color: #b89c80;
	border-radius: 5px;
} 

.scrollbar::-webkit-scrollbar-thumb {
    background-color: #b89c80;
}

.scrollbar::-webkit-scrollbar-track {
	border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,1);
    background-color: #513318;
}

.nav-tabs .nav-link {
  margin: 0px 5px;
  color: #484848;
  border: 1px solid #e9ecef;
  background-color: rgba(200,200,200,0.7);
}

.rounded-circle > svg {
  border-radius: 50%;
}

.pad-5 {
  padding: 5px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-container > div {
  margin: auto;
  height: 100px;
  width: 150px;
}

.sk-wave > div {
  width: 30px !important;
}

.sk-fade-in {
    -webkit-animation: sk-fade-in 0.2s !important;
    animation: sk-fade-in 0.2s !important;
}

.not-active:hover {
	color: #007bff;
	background-color: rgba(0, 105, 217, 0.25);
    border-color: rgba(0, 98, 204, 1);
}