.alexandria-nav {
	list-style: none;
	width: 100%; 
	padding-right: 20px; 
	padding-left: 25px;	
	margin: 0px auto; 
	text-align: center; 
	display: block;
}

.content-card-img {
	max-height: 125px; 
	width: auto; 
	object-fit: cover;
}

.content-card-xinfo {
	text-align: right; 
	margin-top: -25px;
	color:#fff;
	padding-right:5px;
	margin-bottom:-5px;
	background-color:rgba(0,0,0,0.3);
}

.content-container {
	background-color: #000; 
	width: 100%; 
	height: 720px; 
	margin-top: 54px;
}

.content-container .content {
	width: 100%; 
	height: 720px; 
	margin-left: auto; 
	margin-right: auto; 
	display: block; 
	z-index: -1; 
	position: static;
}

.paywall-container {
	margin: 0px auto; 
	width: 100%; 
	height: 720px; 
	margin-top: -720px; 
	padding: 10px; 
	z-index: 100;
	position: relative;
	color: #fff;
	background-color:rgba(0,0,0,0.5);
}

.table td, .table th {
	border-top: none;
	color: #fff;
}

.view-btn {
	float:right;
	margin-right:-10px;
	margin-bottom:-10px;
	margin-top:-16px;
}

.vjs-poster {
	background-size: 100%;
}

.blur {
	-webkit-filter: blur(15px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);
}

.btn-outline-secondary {
	border-color: #333 !important;
	color: #333 !important;;
}

.btn-outline-white {
	border-color: #fff;
	color: #fff;
	background-color: rgba(255,255,255,0);
}

.outline-white {
	border-color: #fff;
}

.btn-outline-white:hover {
	background-color: rgba(255,255,255,0.2);
}

.btn-white {
	color: #fff;
}

.no-link-styling {
	text-decoration: none;
	color: #292b2c;
	cursor: pointer; 
	cursor: hand;
}

.no-link-styling:hover {
	color: #000;
}

.dropdown-item .narrow {
	padding-left: 5px;
	padding-right: 5px;
}

.fixed-bottom {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1030;
	margin-top: -50px;
}

.app-block-footer {
	background-color: rgb(27, 28, 29);
	color: #444;
	color: rgba(116, 119, 123, .5);
}

.mp-icon {
	font-size: 2em;
	padding-left: 5px;
	padding-right: 5px;
}

.mini-audio-player {
	background-color: #ffffff;
	padding-top:3px;
	border-top: 1px #000;
}
