.PlayButton,
.PauseButton,
.PrevButton,
.NextButton,
.SoundOnButton,
.SoundOffButton {
  margin-right: 10px;
  padding: 8px;
  background: white;
  border: 2px solid green;
  border-radius: 100%;
  outline: none;
}
.PlayButton[disabled],
.PauseButton[disabled],
.PrevButton[disabled],
.NextButton[disabled],
.SoundOnButton[disabled],
.SoundOffButton[disabled] {
  opacity: 0.5;
}
.PlayButton.isEnabled,
.PauseButton.isEnabled,
.PrevButton.isEnabled,
.NextButton.isEnabled,
.SoundOnButton.isEnabled,
.SoundOffButton.isEnabled {
  cursor: pointer;
}
.PlayButton.isEnabled:hover,
.PauseButton.isEnabled:hover,
.PrevButton.isEnabled:hover,
.NextButton.isEnabled:hover,
.SoundOnButton.isEnabled:hover,
.SoundOffButton.isEnabled:hover {
  border-color: #011901;
}
.PlayButton.isEnabled:hover .Icon-shape,
.PauseButton.isEnabled:hover .Icon-shape,
.PrevButton.isEnabled:hover .Icon-shape,
.NextButton.isEnabled:hover .Icon-shape,
.SoundOnButton.isEnabled:hover .Icon-shape,
.SoundOffButton.isEnabled:hover .Icon-shape {
  fill: #011901;
}
.PlayButton.isEnabled:active,
.PauseButton.isEnabled:active,
.PrevButton.isEnabled:active,
.NextButton.isEnabled:active,
.SoundOnButton.isEnabled:active,
.SoundOffButton.isEnabled:active {
  border-color: rgba(1, 25, 1, 0.5);
}
.PlayButton.isEnabled:active .Icon-shape,
.PauseButton.isEnabled:active .Icon-shape,
.PrevButton.isEnabled:active .Icon-shape,
.NextButton.isEnabled:active .Icon-shape,
.SoundOnButton.isEnabled:active .Icon-shape,
.SoundOffButton.isEnabled:active .Icon-shape {
  fill: rgba(1, 25, 1, 0.5);
}

.Icon {
  width: 16px;
  height: 16px;
}

.Icon-shape {
  fill: green;
}

.ProgressBar {
  position: relative;
  background: #eee;
  border-radius: 0px;
}
.VolumeSlider {
  position: relative;
  background: #eee;
  border-radius: 4px;
}
.ProgressBar-elapsed, .ProgressBar-value {
  background: gray;
  border-radius: 0px;
}
.VolumeSlider-elapsed,
.VolumeSlider-value {
  background: gray;
  border-radius: 4px;
}
.ProgressBar-seek,
.VolumeSlider-seek {
  position: absolute;
  cursor: pointer;
}
.ProgressBar-handle,
.VolumeSlider-handle {
  position: absolute;
  width: 1px;
  height: 100%;
  background: rgba(255,255,255,0.1);
  border-radius: 100%;
  transform: scale(0);
  transition: transform 0.2s;
}
.ProgressBar.isSeekable:hover .ProgressBar-handle,
.ProgressBar.isSeekable:hover .VolumeSlider-handle, .ProgressBar.isEnabled:hover .ProgressBar-handle,
.ProgressBar.isEnabled:hover .VolumeSlider-handle,
.VolumeSlider.isSeekable:hover .ProgressBar-handle,
.VolumeSlider.isSeekable:hover .VolumeSlider-handle,
.VolumeSlider.isEnabled:hover .ProgressBar-handle,
.VolumeSlider.isEnabled:hover .VolumeSlider-handle {
  transform: scale(1);
}
.ProgressBar.isSeekable:hover .ProgressBar-intent,
.ProgressBar.isSeekable:hover .VolumeSlider-intent, .ProgressBar.isEnabled:hover .ProgressBar-intent,
.ProgressBar.isEnabled:hover .VolumeSlider-intent,
.VolumeSlider.isSeekable:hover .ProgressBar-intent,
.VolumeSlider.isSeekable:hover .VolumeSlider-intent,
.VolumeSlider.isEnabled:hover .ProgressBar-intent,
.VolumeSlider.isEnabled:hover .VolumeSlider-intent {
  position: absolute;
  background: rgba(0, 0, 0, 0.05);
}
.ProgressBar.isSeekable .ProgressBar-elapsed,
.ProgressBar.isSeekable .VolumeSlider-value, .ProgressBar.isEnabled .ProgressBar-elapsed,
.ProgressBar.isEnabled .VolumeSlider-value,
.VolumeSlider.isSeekable .ProgressBar-elapsed,
.VolumeSlider.isSeekable .VolumeSlider-value,
.VolumeSlider.isEnabled .ProgressBar-elapsed,
.VolumeSlider.isEnabled .VolumeSlider-value {
  background: green;
}

.ProgressBar {
  display: inline-block;
  height: 100%;
  margin: 0px 0;
}
.ProgressBar-elapsed {
  height: 100%;
  display: inline-block;
}
.ProgressBar-seek {
  top: -6px;
  right: 0;
  bottom: -6px;
  left: 0;
  display: inline;
}
.ProgressBar-handle {
  top: 0;
  display: inline;
}
.ProgressBar-intent {
  display: inline;
}
.ProgressBar.isSeekable:hover .ProgressBar-handle {
  transform: scale(1);
}
.ProgressBar.isSeekable:hover .ProgressBar-intent {
  top: 0;
  left: 0;
  height: 100%;
}
.ProgressBar.isLoading {
  opacity: 0.5;
  background: #ccc;
  animation: barLoading 2s infinite;
}

.VolumeSlider {
  width: 8px;
  height: 100px;
  position: relative;
  top: -100px;
  left: -30px;
  margin-right : -20px;
}
.VolumeSlider-value {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.VolumeSlider-seek {
  left: -6px;
  top: 0;
  right: -6px;
  bottom: 0;
}
.VolumeSlider-handle {
  left: 0;
  margin: 0 0 -8px -4px;
}
.VolumeSlider.isEnabled:hover .VolumeSlider-handle {
  transform: scale(1);
}
.VolumeSlider.isEnabled:hover .VolumeSlider-intent {
  bottom: 0;
  left: 0;
  width: 100%;
}
